@tailwind base;
@tailwind components;
@tailwind utilities;

.image-size {
  width: 5rem;
  height: 5rem;
}

.image-size-aws {
  width: 6rem;
  height: 5rem;
}

.image-size-contact {
  width: 55px;
  height: 55px;
}
.image-size-mini {
  width: 35px;
  height: 35px;
}
