@tailwind base;
@tailwind components;
@tailwind utilities;

.image-size {
  width: 75px;
  height: 75px;
}

.image-size-aws {
  width: 90px;
  height: 75px;
}

.image-size-contact {
  width: 55px;
  height: 55px;
}
.image-size-mini {
  width: 35px;
  height: 35px;
}
