@tailwind base;
@tailwind components;
@tailwind utilities;

.image-size {
  width: 6em;
  height: 6em;
}

.image-size-aws {
  width: 6em;
  height: 5em;
}

.image-size-contact {
  width: 50px;
  height: 50px;
}
.image-size-mini {
  width: 35px;
  height: 35px;
}

canvas {
  background: #232323;
}
